apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 1
  strategy:
    type: Recreate  # Forces a fresh pull of the 'latest' tag
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-app
        image: me-west1-docker.pkg.dev/commit-gcp-psc-eran-meir/commit-flask-app/flask-api:latest
        imagePullPolicy: Always  # <--- Crucial for 'latest' tags
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  selector:
    app: flask-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080