apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-proxy-config
data:
  default.conf: |
    server {
        listen 443 ssl;  # <--- Now listening securely
        ssl_certificate /etc/nginx/ssl/tls.crt;
        ssl_certificate_key /etc/nginx/ssl/tls.key;
        
        location / {
            proxy_pass http://flask-service.default.svc.cluster.local;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-ingress
spec:
  replicas: 1
  strategy:
      type: Recreate
  selector:
    matchLabels:
      app: nginx-ingress
  template:
    metadata:
      labels:
        app: nginx-ingress
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 443  # <--- Updated to 443
        volumeMounts:
        - name: config-volume
          mountPath: /etc/nginx/conf.d/
        - name: ssl-volume
          mountPath: /etc/nginx/ssl/
      volumes:
      - name: config-volume
        configMap:
          name: nginx-proxy-config
      - name: ssl-volume
        secret:
          secretName: nginx-tls-secret